
.icon-github:before { content: '\e800'; } /* '' */
.icon-github-text:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */